.avator, .cityPicture, .imgct{
    width: 100%;
    height: auto;
}
body{
    background-color: var(--secondary);

}
.intro{
    background-color: var(--secondary);
    text-align: center;
    
    margin: auto;
    
}

.names{
    color: var(--extra);
    margin-top: 5em;
}
.city{
    background-color: var(--pimary) ;
    padding: 1em;
    margin: auto;
    color: var(--tertiary);

}
.languages{
    background-color: var(--tertiary);
    padding: 1em;
    color: var(--tertiary);
    margin: auto;
}

td{
    border: 10px solid;
    color: var(--pimary);
}
table{
    overflow-y:scroll;
    height:100px;
    display:block;
    margin: 1em;
    padding: 1em;
}

.historic_place{
    background-color: var(--secondary);
    color: var(--tertiary);
  
    
}
.histdata{
    margin: 1em;
}

.histdata > div{
    
    background-color: var(--pimary);
    color: var(--tertiary);
}

body{
    background-image: url(./static/table.jpg);
    background-repeat: repeat;
    background-size: cover;
}
:root {
    --pimary: #14213d;
    --secondary: #fca311;
    --tertiary: #e5e5e5;
    --extra: #ffffff;
  }

